/* **********************************FOR 1350PX query ******************************************* */
@media (max-width: 1447px) {
  .container {
    max-width: 62rem;
    padding: 0 1rem;
  }

  .grid {
    gap: 2rem;
  }
  .sec-one {
    padding-top: 10rem;
  }

  .secServices .grid {
    row-gap: 3rem;
    column-gap: 2rem;
  }
}

/* **********************************FOR 1250PX query ******************************************* */

@media (max-width: 1250px) {
  nav {
    right: 130px;
  }
  .container {
    max-width: 55rem;
  }

  .nav-lists {
    gap: 0;
  }

  .section {
    padding: 6rem 0;
  }

  .sec-one {
    padding-top: 12rem;
  }
}

/* /* **********************************FOR 1150 query ******************************************* */
@media (max-width: 1150px) {
  nav {
    right: 140px;
  }

  .container {
    max-width: 50rem;
  }

  .projectImages .box {
    width: 234px;
  }
}

/* **********************************menu meida ******************************************* */
@media (max-width: 1050px) {
  header {
    padding: 2rem 3rem;
    height: 52px;
  }

  .logo {
    font-size: 20px;
    margin: 0;
  }

  .section {
    padding: 4rem;
  }

  .para {
    padding: 0 3.8rem;
  }

  .Mname {
    font-size: 3.5rem;
  }

  .menu-bar-btn {
    display: block;
    color: var(--black);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    z-index: 9999;
  }

  .navBar {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 140px;
    background-color: hsla(0, 0%, 10%, 0.3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transform: translateX(100%);
    transition: all 0.5s linear;
    z-index: 1111;
    color: var(--white);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .nav-lists {
    flex-direction: column;
    margin-top: 5rem;
    line-height: 3rem;
  }

  .nav-lists li a {
    font-size: 1.5rem;
    color: var(--black);
  }

  .activeHead .navBar {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .activeHead #menu-btn {
    display: none;
  }

  .activeHead #cross-btn {
    display: block;
  }

  .modes {
    position: absolute;
    right: 140px;
  }

  .grid-3-Columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .secServices .grid {
    row-gap: 2rem;
  }

  #sec-one {
    padding-top: 6rem;
  }

  .sec-one .secondColumn {
    grid-row: 1;
    margin-bottom: 2rem;
  }

  .sec-one .grid-Columns {
    grid-template-columns: 1fr;
  }

  .firstColumn {
    align-items: center;
  }

  .firstColumn p {
    text-align: center;
    max-width: 40rem;
  }

  .service-card:hover {
    transform: translateY(-1rem);
  }

  nav a:hover::after {
    width: 0%;
  }

  .aboutSection .grid-Columns {
    grid-template-columns: 1fr;
  }

  .aboutSection .About-img1 {
    display: flex;
    justify-content: center;
  }

  .aboutSection .About-text {
    text-align: center;
  }

  .aboutM p {
    text-align: center;
    line-height: 20px;
    padding: 0;
  }

  .downloadCV {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .skills-grid {
    row-gap: 2rem;
    width: 100%;
  }

  .social-list li:hover {
    transform: scale(0);
    transition: none;
  }

  .socialList li:hover {
    transform: scale(0);
    transition: none;
  }

  .sec-contact .grid-Columns {
    grid-template-columns: 1fr;
  }

  .service-card:hover {
    transform: translateY(0);
    box-shadow: var(--cardShadow);
  }

  .container:hover .service-card:not(:hover) {
    opacity: 1;
  }

  #Gbtn {
    margin-top: 15px;
  }

  .downloadCV {
    padding-left: 0;
  }

  .projectImages .box {
    width: 300px;
  }
}
/* **********************************menu meida end ******************************************* */

/* *************************************** 715 PX *********************************************/

@media (max-width: 715px) {
  .Mname {
    font-size: 2.5rem;
  }

  .para {
    padding: 0 2rem;
  }
}

@media (max-width: 782px) {
  .projectImages .box {
    width: 234px;
  }
}

@media (max-width: 642px) {
  .projectImages .box {
    width: 225px;
  }

  .projectSection .grid {
    gap: 1rem;
  }
}

/* ************************************** for 607 px*********************************************/

@media (max-width: 607px) {
  .section {
    padding: 3rem 2rem;
  }

  header {
    padding: 1rem;
    height: 52px;
  }

  .Mname {
    font-size: 2.8rem;
  }

  .para {
    padding: 0 0.8rem;
  }

  .section {
    padding: 3rem 0.2rem;
  }

  .section .grid-3-Columns {
    grid-template-columns: 1fr;
  }

  .sfirstRowection-contact-container {
    display: flex;
    flex-direction: column;
  }

  .sfirstRowection-contact-container input {
    width: 80%;
    display: block;
  }

  .section-contact-container .grid-Columns {
    grid-template-columns: 1fr;
  }

  .skills-grid .rightShift {
    text-align: center;
  }

  .modes {
    right: 70px;
  }

  .social-media {
    margin: 1rem;
  }

  .para {
    margin: 0.5rem;
    text-align: left;
  }

  .projectImages .box {
    width: 100%;
  }

}

/* ************************************** for 490 px*********************************************/

@media (max-width: 490px) {
  .this {
    font-size: 1.5rem;
  }

  .Mname {
    font-size: 2.2rem;
  }

  .mainFoot p {
    text-align: center;
  }

  .para {
    margin: 8px 0;
  }
}

@media screen and (max-width: 395px) {
  .this {
    font-size: 1.2rem;
  }

  .Mname {
    font-size: 2rem;
  }
}

@media (max-width: 387px) {
  .social-media {
    margin: 1rem;
  }

  .para {
    margin: 0;
  }

  .this {
    font-size: 0.8rem;
  }
  .Mname {
    font-size: 1.5rem;
  }
  .skills-grid {
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
  }
}

@media (max-width: 340px) {
  .container {
    padding: 1rem;
  }

  .para {
    width: 100%;
    padding: 1rem 0;
  }

 
}

@media (max-width: 268px) {
  .Mname {
    font-size: 1.4rem;
  }

  .mainFoot h1 {
    text-align: center;
  }
}
